<div>
<!-- login page (with email/username authentication) -->

<title>Admin Login</title>

	<h1>Admin Login</h1>
	<form method="post" class="stacked-form">
            <div class="row">
              <!--   <span class="field-validation-valid" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></span> -->
    <!-- Email input field -->
    <h3>Enter Email</h3>
                <input ng-model="ctrl.email" class="form-input bs-input-box stacked-input-box" type="text" name="EmailAddress" value="" placeholder="Email Address"  ng-model="ctrl.email"/>
             </div>
        <br>
            <div class="row">
              <!--   <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span> -->
     <!-- Password input field -->
     <h3>Enter Password</h3>
                <input ng-model="ctrl.password" class="form-input bs-input-box stacked-input-box" type="password" name="Password" placeholder="Password" ng-model="ctrl.password"/>
             </div>
        <br> 
    <!-- button to submit email/password and direct to admin dashboard   -->
            <input type="submit" value="{{ctrl.auth_btn}}" class="form-input btn btn-primary bs-form__button btn-lg stacked-input-box" ng-click="ctrl.login()"/>
          </form>

          </div>