<!-- admin-ordersUpdate.html -->
<h3>
	Update/Edit Orders
</h3>

<article class="product-frm">
		<div>
			<label>Name</label>
			<input type="text" name="name" placeholder ="First/Last name" required>
		</div>
		<div>
			<label>Description</label>
			<textarea type="text" name="name" ng-model="ctrl.product.description" required></textarea>
		</div>
		<div>
			<label>Category</label>
			<!-- TODO #2: Set Options -->
			<select  name="category" ng-options="option as option.label for option in ctrl.categories" ng-model="ctrl.product.category">
			</select>
		</div>
		<div>
			<label>Price</label>
			<input type="number" name="price" ng-model="ctrl.product.price" required>
		</div>
		<div>
			<label>Quantity</label>
			<input type="number" name="quantity" ng-model= "ctrl.product.quantity" required>
		</div>
		<div>
			<button type="submit" ng-click="ctrl.updateProduct()">{{ctrl.product_update_btn}}</button>
			<button type="submit" ng-click="ctrl.deleteProduct()">{{ctrl.product_delete_btn}}</button>
		</div>
</article>
<div>admin-ordersUpdate.html
</div>

