<h3>View All Orders</h3>

    
	<div class="inventory col-xs-offset-1 col-xs-10">
		<table class="products-list table">
<!-- 			<tr>
				<th>Category</th>
				<th>Name</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Description</th>
				<th>Edit</th>
			</tr> -->
			<tr>
				<th>id</th>
				<th>number of items</th>
				<th>total $</th>
			</tr>
			<tr ng-repeat="orders in ctrl.orders">
				<td>{{orders.id}}</td>
				<td>{{orders.cart.length}}</td>
				<td>{{orders.total}}</td>
			</tr>
<!-- 
			<tr>
				<td>{{things.category}}</td>
				<td>{{things.name}}</td>
				<td>{{things.price | currency:undefined:0}}</td>
				<td>{{things.quantity}}</td>
				<td><a ng-click="ctrl.editProduct(product)">Edit</a></td>
			</tr>
		</table>
		<table class="products-list table">
		<div ng-repeat="orders in ctrl.orders">
			<tr ng-repeat="things in orders.cart">
				<td>{{things.category}}</td>
				<td>{{things.name}}</td>
				<td>{{things.price | currency:undefined:0}}</td>
				<td>{{things.quantity}}</td>
				<td><a ng-click="ctrl.editProduct(product)">Edit</a></td>
			</tr> -->
		</table>
	</div>

<!-- 
<div class="inventory col-xs-offset-1 col-xs-10" ng-repeat="orders in ctrl.orders">

	<div class="orders">
		<p>category</p>
		<p>name</p>
		<p>price</p>
		<p>quantity</p>
		<p>edit</p>
	</div>

	<div class="ordersinfo" ng-repeat="things in orders.cart">
		<p>{{things.category}}</p>
		<p>{{things.name}}</p>
		<p>{{things.price | currency}}</p>
		<p>{{things.quantity}}</p>
		<p><a ng-click="ctrl.editProduct(product)">edit</a></p>
	</div>


</div> -->