<!-- admin-ordersUpdate.html -->
<h3>
	Update/Edit Orders
</h3>

<article class="product-frm">
		<div>
			<label>Name</label>
			<input type="text" name="name" placeholder ="First/Last name" required>
		</div>
		<div>
			<label>Email</label>
			<textarea type="text" name="email"required></textarea>
		</div>
		<div>
			<label>Address 1</label>
			<select  name="address 1" required>
			</select>
		</div>
		<div>
			<label>Address 2</label>
			<select  name="address 2" required>
			</select>
		</div>
		<div>
			<label>City</label>
			<input type="number" name="price" required>
		</div>
		<div>
			<label>Quantity</label>
			<input type="number" name="quantity" required>
		</div>
		<div>
			<button type="submit" ng-click=>{{ctrl.product_update_btn}}</button>
			<button type="submit" ng-click="ctrl.deleteProduct()">{{ctrl.product_delete_btn}}</button>
		</div>
</article>
<div>admin-ordersUpdate.html
</div>

