<title>Admin Login</title>
<nav style="margin-left:100px; margin-top: 50px;">
	<a ui-sref="shop.main">Home</a>
</nav>

<h1 style="margin-top: 50px; margin-left: 29%;">Admin Login</h1>
    <div class="row">
        
        <form method="post" style="display:inline-block; width: 200px; margin: 0% 30%;">
            <h3>Enter Email</h3>
            <input ng-model="ctrl.email" class="form-input bs-input-box stacked-input-box" type="text" name="EmailAddress" value="" placeholder="Email Address"  ng-model="ctrl.email"/>
          
            <h3>Enter Password</h3>
            <input ng-model="ctrl.password" class="form-input bs-input-box stacked-input-box" type="password" name="Password" placeholder="Password" ng-model="ctrl.password"/>

            <input type="submit" value="Login" class="form-input btn btn-primary bs-form__button btn-lg stacked-input-box" ng-click="ctrl.login()"/>
      </form>

    </div>
