<div style="width: 500px; display: inline-block; position: absolute; margin-left:220px; margin-top: -105px;">
	
	<h3>Products</h3>

	<hr style="margin-top: 5px; border-width:1px; border-color: #929292;">

	<div ng-hide="ctrl.is_products">
		<p>
			You have no products
		</p>
	</div>

	<br>

	<button ng-click="ctrl.invent_add_btn()">Add Product</button>
	
	<br><br>

	<div ng-show="ctrl.is_products">
		<table class="products-list table">
			<tr>
				<th>Category</th>
				<th>Name</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Description</th>
				<th>&nbsp;</th>
			</tr>
			<tr ng-repeat="product in ctrl.products">
				<td>{{product.category}}</td>
				<td>{{product.name}}</td>
				<td>{{product.price}}</td>
				<td>{{product.quantity}}</td>
				<td>{{product.description}}</td>
				<td><a ng-click="ctrl.editProduct(product)">Edit</a></td>
			</tr>
		</table>
	</div>

	<div ui-view=""></div>

</div>