<div style="width: 500px; display: inline-block; position: absolute; margin-left:220px; margin-top: -80px;">
<button ng-click="ctrl.invent_add_btn()">Add Product</button>
<br><br>

	<table class="products-list table">
		<tr>
			<th>Category</th>
			<th>Name</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>&nbsp;</th>
		</tr>
		<tr ng-repeat="product in ctrl.products">
			<td>{{product.category}}</td>
			<td>{{product.name}}</td>
			<td>{{product.price}}</td>
			<td>{{product.quantity}}</td>
			<td><a ng-click="ctrl.editProduct(product)">Edit</a></td>
		</tr>
	</table>

	<div ui-view=""></div>

</div>