<div class="jumbotron"></div>
	<div ui-view=""></div>

<div class="section-header">
	<h1>best sellers</h1>
</div>

<div class="row align-shopmain">
	<div class="col-xs-12 col-sm-3" ng-repeat="product in ctrl.products">
		<div class="product-img" style="background:url('/assets/img/stripe-shirt.png')" ng-click="ctrl.goToProduct(product)">
		</div>
		<div class="product-info">
			<div class="product-name">
				<a ng-click="ctrl.toProduct(productId)">
				<h4>{{product.name}}</h4>
				</a>
			</div>
<!-- 			<div class="product-brand" ng-click="ctrl.toProduct(productId)">
				<em><p>{{product.description}}</em></p>
			</div> -->
			<div class="product-cost">
				<h5>{{product.price | currency}}</h5>
			</div>
		</div>
	</div>
</div>

