<div ui-view=""></div>

<div class="sidebar">
	<ul class="col-xs-12 col-sm-2">
		<li ng-click ="ctrl.$location.path('/product/')">all</li>
		<li ng-click ="ctrl.$location.path('/product/shirts')">shirts</li>
		<li>dresses</li>
		<li ng-click ="ctrl.$location.path('/product/pants')">pants</li>
		<li ng-click ="ctrl.$location.path('/product/pants')">outerwear</li>
		<li ng-click ="ctrl.$location.path('/product/pants')">shoes</li>	</ul>
</div>

<div class="productview col-xs-12 col-sm-9">
	<h1 class="text-center">{{ctrl.product.name}}</h1>
			
	<img class="col-xs-12 col-sm-7" ng-src="{{'/assets/img/' + ctrl.product.image}}" width="100px">

	<div class="itemDetails col-xs-12 col-sm-5">
		{{ctrl.product.description}}
	</div> 

	<button class="addToCart" ng-click="ctrl.addToCart(ctrl.product)">Add to Cart</button>
</div>