<div ui-view=""></div>

<div class="sidebar">
	<ul class="col-xs-12 col-sm-2">
		<li ng-click ="ctrl.$location.path('/product/')">all</li>
		<li ng-click ="ctrl.$location.path('/product/shirts')">shirts</li>
		<li>dresses</li>
		<li ng-click ="ctrl.$location.path('/product/pants')">pants</li>
		<li ng-click ="ctrl.$location.path('/product/pants')">outerwear</li>
		<li ng-click ="ctrl.$location.path('/product/pants')">shoes</li>
	</ul>
</div>

<div class="productview col-xs-12 col-sm-9">
			
	<img class="col-xs-12 col-sm-7" ng-src="{{'/assets/img/' + ctrl.product.image}}">

	<div class="itemDetails col-xs-12 col-sm-5">
	<h2>{{ctrl.product.name}}</h2>
	<h4>{{ctrl.product.price | currency}}</h4><br>
	<h5>{{ctrl.product.description}}</h5><br>

		<button class="addToCart" ng-click="ctrl.addToCart(ctrl.product)">add to cart</button>
	</div> 
</div>