<div ui-view=""></div>
<div class="sidebar">
	<ul class="col-xs-12 col-sm-2">
		<li ng-click ="ctrl.$location.path('/product/')">all</li>
		<li ng-click ="ctrl.$location.path('/product/shirts')">shirts</li>
		<li ng-click="ctrl.$location.path('/product/dresses')">dresses</li>
		<li ng-click ="ctrl.$location.path('/product/pants')">pants</li>
		<li ng-click ="ctrl.$location.path('/product/outerwear')">outerwear</li>
		<li ng-click ="ctrl.$location.path('/product/shoes')">shoes</li>
	</ul>
</div>

<div class="productwrapper col-sm-9">

	<div class="col-xs-12 col-sm-4" ng-repeat="product in ctrl.products 
			| filter:search
			| filter:{category:ctrl.category}">

		<a ng-click="ctrl.toProduct(product,product.id)">
			<img ng-src="{{'/assets/img/' + product.image}}" width="100%">
		</a>
		
		<div class="product-info">
			<div class="product-name">
				<a ng-click="ctrl.toProduct(product,product.id)">

				<h4>{{product.name}}</h4>
				</a>
			</div>

			<div class="product-cost">
				<a ng-click="ctrl.toProduct(product,product.id)">
				<h5>{{product.price | currency}}</h5>
				</a>
			</div>

		</div>
	</div>

</div>