<div>

<aside>
<h3> Purchase Summary </h3>
<table class="table">
        <tr ng-repeat="cartProduct in ctrl.cartSrv.cart">
            <td>{{cartProduct.name}}</td>
            <td>{{cartProduct.quantity}}</td>
            <td>{{cartProduct.quantity* cartProduct.price| currency:undefined:0}}</td>
        <tr>
        <tr>
            <td>Total:</td>
            <td>{{ctrl.total() | currency}}</td>
        </tr>
    </table>
</aside>
<h1>Shipping </h1>
<!-- customer page after the cart where we get all details with shipping etc -->
<form>
	First Name<input type=text><br>
	Last Name<input><br>
	<button ng-click="ctrl.goToCart()">Back to Cart </button>
	<button ng-click="ctrl.reviewOrder()">Review & Submit Order </button>
</form>
</div>
<!-- Display GET product info-->
<!-- Form for billing Information -->

<form></form>
